@charset "utf-8";
/* CSS Document */
html {
	background: url('images/claytonismedium.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	height: 100%;
}
#container {
	width: 1080px;
	/* [disabled]height: 900px; */
	min-height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	/*padding-top: 25px;*/
}

#my_icons {
	margin-left: 25%;
}

  /*stuff from google plus profile - > BEGIN */
  #gplusrow {
  	background-color:rgba(0,0,0,0.5);
  	margin-top: 50px;
  	margin-left: 100px;
  	padding-top: 15px;
  	padding-bottom: 15px;
	width: 60%;
	border-radius: 10px;
  }
  #profilePic {
  	border-radius: 50%;
  	margin-left: 20px;
  	float: left;
  	border: 2px solid rgb(255, 255, 255);
  	color: rgb(255, 255, 255);
  }

  /*stuff from google plus profile - > END */


/*second round plus*/

#DIV_1 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	margin: 0px 52.8125px;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 900px;
*/}/*#DIV_1*/

#DIV_2 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	left: 20px;
	outline: rgb(255, 255, 255) none 0px;
	position: absolute;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	top: 20px;
/*    width: 120px;
*/}/*#DIV_2*/

#DIV_3 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: table;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	min-width: 120px;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 120px;
*/}/*#DIV_3*/

#DIV_4 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 120px;
*/}/*#DIV_4*/

#DIV_5 {
	border: 0px none rgb(255, 255, 255);
	border-radius: 50%;
	color: rgb(255, 255, 255);
	display: table;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 120px;
*/}/*#DIV_5*/

#IMG_6 {
	border: 0px none rgb(255, 255, 255);
	border-radius: 50%;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 120px;
*/}/*#IMG_6*/

#DIV_7 {
	background: rgba(0, 0, 0, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	border-radius: 50%;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: none;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: auto;
	margin: -80px 0px 0px 40px;
	outline: rgb(255, 255, 255) none 0px;
	position: absolute;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: auto;
*/}/*#DIV_7*/

#DIV_8 {
	background: rgba(0, 0, 0, 0) url(https://ssl.gstatic.com/s2/oz/images/sprites/profiles_sr-df78a3bf347b3cdb103b2191751c5d6e.png) no-repeat scroll 0px 0px / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 20px;
	margin: 8px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	/*width: 24px;*/
	}/*#DIV_8*/

	#DIV_9 {
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		display: table;
		float: right;
		font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
		height: 120px;
		margin: 0px 20px;
		outline: rgb(255, 255, 255) none 0px;
		text-align: center;
		text-decoration: none solid rgb(255, 255, 255);
		text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 100.90908813476563px;
*/}/*#DIV_9*/

#DIV_10 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: table-cell;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 159.5454559326172px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: middle;
/*    width: 100.90908813476563px;
*/}/*#DIV_10*/

#DIV_11 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 29.09090805053711px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: 100.90908813476563px;
*/}/*#DIV_11*/

#DIV_12 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 29.09090805053711px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: top;
	white-space: nowrap;
/*    width: 100.5397720336914px;
*/}/*#DIV_12*/

#DIV_13 {
	background: rgba(0, 0, 0, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0.9090908765792847px solid rgba(0, 0, 0, 0.14902);
	border-radius: 2.997159004211426px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font: normal normal bold 13.63636302947998px/26.988636016845703px Roboto, arial, sans-serif;
	height: 27.99715805053711px;
	line-height: 26.988636016845703px;
	min-width: 54px;
	outline: rgb(255, 255, 255) none 0px;
	padding: 0px 8px;
	position: relative;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: 82.7272720336914px;
*/}/*#DIV_13*/

#DIV_14 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	margin: 5px 0px 0px;
	opacity: 0.6700000166893005;
	outline: rgb(255, 255, 255) none 0px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 100.90908813476563px;
*/    z-index: 0;
}/*#DIV_14*/

#DIV_15 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: table;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	margin: 0px 20px 0px 25px;
	outline: rgb(255, 255, 255) none 0px;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 598.1818237304688px;
*/}/*#DIV_15*/

#DIV_16 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: table-cell;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 120px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: middle;
	padding-left: 20px;
/*    width: 598.1818237304688px;
*/}/*#DIV_16*/

#DIV_17 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 40px;
	margin: 0px 0px 5px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: 190.90908813476563px;
*/}/*#DIV_17*/

#DIV_18 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font: normal normal normal 28.18181800842285px/normal Roboto, arial, sans-serif;
	height: 36.3636360168457px;
	margin: 0px 10px 0px 0px;
	max-width: 509px;
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-overflow: ellipsis;
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: 180.90908813476563px;
*/}/*#DIV_18*/

#DIV_19 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: none;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: auto;
	margin: 0px 10px 0px 2px;
	opacity: 0.8999999761581421;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	top: 14px;
	vertical-align: top;
	white-space: nowrap;
/*    width: auto;
*/    z-index: 0;
}/*#DIV_19*/

#DIV_20 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 16.363636016845703px;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	top: 11px;
	vertical-align: top;
	white-space: nowrap;
	}/*#DIV_20*/

	#DIV_21 {
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		display: inline-block;
		font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
		outline: rgb(255, 255, 255) none 0px;
		text-align: left;
		text-decoration: none solid rgb(255, 255, 255);
		text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
		white-space: nowrap;
		}/*#DIV_21*/

		#DIV_22 {
			border: 0px none rgb(255, 255, 255);
			color: rgb(255, 255, 255);
			display: none;
			font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
			height: auto;
			margin: 0px 10px 0px 0px;
			outline: rgb(255, 255, 255) none 0px;
			text-align: left;
			text-decoration: none solid rgb(255, 255, 255);
			text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
			white-space: nowrap;
/*    width: auto;
*/}/*#DIV_22*/

#DIV_23 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: none;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 18px;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	top: -1px;
	white-space: nowrap;
/*    width: 18px;
*/}/*#DIV_23*/

#DIV_24 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: auto;
	outline: rgb(255, 255, 255) none 0px;
	position: absolute;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: auto;
*/}/*#DIV_24*/

#DIV_25 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: none;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: auto;
	outline: rgb(255, 255, 255) none 0px;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: auto;
*/}/*#DIV_25*/

#DIV_26 {
	background: rgb(230, 230, 230) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	color: rgb(51, 102, 204);
	font: normal normal normal 11.818181991577148px/15px Roboto, arial, sans-serif;
	height: 14px;
	left: 15px;
	line-height: 15px;
	margin: 0px 0px 0px 6px;
	outline: rgb(51, 102, 204) none 0px;
	overflow: hidden;
	padding: 0px 2px 0px 0px;
	position: absolute;
	text-align: left;
	text-decoration: none solid rgb(51, 102, 204);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	visibility: hidden;
	white-space: nowrap;
	z-index: 2;
	}/*#DIV_26*/

	#DIV_27 {
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
		height: 25.454544067382813px;
		outline: rgb(255, 255, 255) none 0px;
		overflow: hidden;
		text-align: left;
		text-decoration: none solid rgb(255, 255, 255);
		text-overflow: ellipsis;
		text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 598.1818237304688px;
*/}/*#DIV_27*/

#DIV_28 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 25.454544067382813px;
	outline: rgb(255, 255, 255) none 0px;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 598.1818237304688px;
*/}/*#DIV_28*/

#DIV_29 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 17.27272605895996px;
	margin: 5px 15px 0px 0px;
	max-width: 509px;
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-overflow: ellipsis;
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: 99.63067626953125px;
*/}/*#DIV_29*/

#SPAN_30, #SPAN_46 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 15.994318008422852px;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: middle;
	white-space: nowrap;
/*    width: 15.994318008422852px;
*/}/*#SPAN_30, #SPAN_46*/

#SPAN_31 {
	background: rgba(0, 0, 0, 0) url(https://ssl.gstatic.com/s2/oz/images/sprites/profiles_1p-5160fcb70427e709388d74f92cc12f06.png) no-repeat scroll -17px -288px / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 11.988636016845703px;
	left: 0px;
	margin: 0px 5px 0px 0px;
	opacity: 0.699999988079071;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	top: 0px;
	vertical-align: top;
	white-space: nowrap;
	width: 10.994318008422852px;
	z-index: 0;
	}/*#SPAN_31*/

	#SPAN_32, #SPAN_33, #SPAN_37, #SPAN_43, #SPAN_48 {
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
		opacity: 0.6700000166893005;
		outline: rgb(255, 255, 255) none 0px;
		text-align: left;
		text-decoration: none solid rgb(255, 255, 255);
		text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
		white-space: nowrap;
		z-index: 0;
		}/*#SPAN_32, #SPAN_33, #SPAN_37, #SPAN_43, #SPAN_48*/

		#DIV_34 {
			border: 0px none rgb(255, 255, 255);
			color: rgb(255, 255, 255);
			display: inline-block;
			font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
			height: 17.27272605895996px;
			margin: 5px 15px 0px 0px;
			max-width: 509px;
			outline: rgb(255, 255, 255) none 0px;
			overflow: hidden;
			text-align: left;
			text-decoration: none solid rgb(255, 255, 255);
			text-overflow: ellipsis;
			text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
			white-space: nowrap;
/*    width: 196.17897033691406px;
*/}/*#DIV_34*/

#SPAN_35 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 15.994318008422852px;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: middle;
	white-space: nowrap;
/*    width: 17.99715805053711px;
*/}/*#SPAN_35*/

#SPAN_36 {
	background: rgba(0, 0, 0, 0) url(https://ssl.gstatic.com/s2/oz/images/sprites/profiles_1p-5160fcb70427e709388d74f92cc12f06.png) no-repeat scroll 0px -555px / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 11.988636016845703px;
	left: 0px;
	margin: 0px 5px 0px 0px;
	opacity: 0.699999988079071;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	top: 0px;
	vertical-align: top;
	white-space: nowrap;
	width: 12.997159004211426px;
	z-index: 0;
	}/*#SPAN_36*/

#SPAN_366 {
	background: rgba(0, 0, 0, 0) url(https://ssl.gstatic.com/s2/oz/images/sprites/profiles_1p-5160fcb70427e709388d74f92cc12f06.png) no-repeat scroll 0px -555px / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 11.988636016845703px;
	left: 0px;
	margin: 0px 5px 0px 10px;
	opacity: 0.699999988079071;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	top: 0px;
	vertical-align: top;
	white-space: nowrap;
	width: 12.997159004211426px;
	z-index: 0;
	}/*#SPAN_36*/

	#SPAN_38, #SPAN_44 {
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
		opacity: 0.6700000166893005;
		outline: rgb(255, 255, 255) none 0px;
		text-align: left;
		text-decoration: none solid rgb(255, 255, 255);
		text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
		white-space: nowrap;
		z-index: 0;
		}/*#SPAN_38, #SPAN_44*/

		#DIV_39 {
			border: 0px none rgb(255, 255, 255);
			color: rgb(255, 255, 255);
			display: inline-block;
			font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
			height: 25.454544067382813px;
			outline: rgb(255, 255, 255) none 0px;
			text-align: left;
			text-decoration: none solid rgb(255, 255, 255);
			text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
/*    width: 128.8068084716797px;
*/}/*#DIV_39*/

#DIV_40 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 17.27272605895996px;
	margin: 5px 15px 0px 0px;
	max-width: 509px;
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-overflow: ellipsis;
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	white-space: nowrap;
/*    width: 113.80681610107422px;
*/}/*#DIV_40*/

#SPAN_41 {
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 15.994318008422852px;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: middle;
	white-space: nowrap;
/*    width: 11.988636016845703px;
*/}/*#SPAN_41*/

#SPAN_42 {
	background: rgba(0, 0, 0, 0) url(https://ssl.gstatic.com/s2/oz/images/sprites/profiles_1p-5160fcb70427e709388d74f92cc12f06.png) no-repeat scroll 0px -906px / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 11.988636016845703px;
	left: 1px;
	margin: 0px 5px 0px 0px;
	opacity: 0.699999988079071;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: top;
	white-space: nowrap;
	width: 6.988636016845703px;
	z-index: 0;
	}/*#SPAN_42*/

	#DIV_45 {
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		display: inline-block;
		font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
		height: 17.27272605895996px;
		margin: 5px 15px 0px 0px;
		max-width: 509px;
		outline: rgb(255, 255, 255) none 0px;
		overflow: hidden;
		text-align: left;
		text-decoration: none solid rgb(255, 255, 255);
		text-overflow: ellipsis;
		text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
		white-space: nowrap;
/*    width: 127.8125px;
*/}/*#DIV_45*/

#SPAN_47 {
	background: rgba(0, 0, 0, 0) url(https://ssl.gstatic.com/s2/oz/images/sprites/profiles_1p-5160fcb70427e709388d74f92cc12f06.png) no-repeat scroll 0px -38px / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: inline-block;
	font: normal normal normal 11.818181991577148px/normal Roboto, arial, sans-serif;
	height: 11.988636016845703px;
	left: 0px;
	margin: 0px 5px 0px 0px;
	opacity: 0.699999988079071;
	outline: rgb(255, 255, 255) none 0px;
	position: relative;
	text-align: left;
	text-decoration: none solid rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.701961) 0px 0.9090908765792847px 0px;
	vertical-align: top;
	white-space: nowrap;
	width: 10.994318008422852px;
	z-index: 0;
	}/*#SPAN_47*/

	/*second round plus END*/

