<html ng-app>
<head>
<link href="styles.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="https://raw.github.com/Crash8308/ng-grid/master/ng-grid.css" /> 
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.2/angular.js"></script>
    <script type="text/javascript" src="https://raw.github.com/Crash8308/ng-grid/master/ng-grid-1.0.0.debug.js"></script>
    <script type="text/javascript" src="https://raw.github.com/Crash8308/ng-grid/master/workbench/main.js"></script>
    <script type="text/javascript" src="https://raw.github.com/Crash8308/ng-grid/master/workbench/largeLoad.js"></script>
    <script type="text/javascript" src="https://raw.github.com/Crash8308/ng-grid/master/plugins/ng-grid-reorderable.js"></script>
    
</head>
<body>
<div id="container" ng-controller="Ctrl">
  <div id="EPDbox">
    <label>EPD:</label>
    <input type="number" ng-model="yourEPDnum" placeholder="Enter a EPD # here">
    <label>Date:</label>
    <input type="date" ng-model="yourDate">
  </div>
  <div id="engineerbox">
  <label>Engineer:</label>
  <input type="text" ng-model="yourName" placeholder="BEMS or Name">
  </div>
  
<h2>EPD: {{yourEPDnum}}</h2>

    <div ng-app="ngGrid" ng-controller="userController">
        <div style="margin: 10px;  width: 600px; height: 400px;" ng-grid="gridOptions">
        </div>
        <button ng-click="changeData()">Insert Rows</button>
        <span>mySelections: {{mySelections | json}}</span>
    </div>
</body>
</html>
